<app-header></app-header>

<div class="container">
  <div class="content">
    <!-- <p class="instructions">¡EXPLORA LIBREMENTE LOS BOTONES! CLICA Y TE MOSTRAREMOS CÓMO SE SIGNA</p> -->
    
    <div class="layout">
      <div class="image-container">
        <app-canvas [animationUrls]="currentAnimationUrls"></app-canvas>      
      </div>
      <div class="button-grid">
        <div class="main-buttons">
          <!-- Botones dinámicos para las categorías -->
          <button 
            *ngFor="let categoria of categorias" 
            class="main-button" 
            [class.active]="categoria._id === currentCategoryId"
            (click)="selectCategory(categoria._id)">
            {{ categoria.nombre }}
          </button>
        </div>
        <div class="grid-buttons">
          <!-- Botones dinámicos para las palabras -->
          <button 
            *ngFor="let palabra of palabras" 
            class="secondary-button"
            (click)="seleccionarPalabra(palabra)">
            {{ palabra.palabra  }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
