@font-face {
  font-family: 'lexend';
  src: url('../../assets/fonts/lexend.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Importar la fuente personalizada desde la carpeta public */
@font-face {
  font-family: "ChauPhilomene";
  src: url("../../assets/fonts/chauphilomene.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background-color: #fff8d4;
  max-width: 100% !important; 
  width: 100% !important;
}

.content{
  background-color: #fff8d4;

}

.instructions {
  margin-top: 25px;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: -27px;
  font-family: 'lexend';
  
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.image-container {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}


.button-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffeb99;
  padding: 30px;
  border-radius: 10px;
  width: 550px;
  height: 400px; 
  margin-left: 120px;
  overflow: hidden; 
}


.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 30px;
  flex-wrap: wrap; 
  font-family: "ChauPhilomene", sans-serif; 

}

.main-button {
  padding: 10px 15px;
  font-size: 1rem;
  text-align: center; 
  border: 2px solid black;
  background-color: #41b8d5;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
  white-space: normal;
  word-wrap: break-word; 
  overflow: visible; 
  max-width: 150px; 
  font-size: 20px;

}

.main-button:hover {
  background-color: #41b8d5;
  transform: translateY(-4px);
}

.main-button.active {
  background-color: #41b8d5;
  border-color: #000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8); /* Sombra para resaltar */
  


}


.grid-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto; 
  row-gap: 30px; 
  column-gap: 15px; 
  width: 100%;
  height: 100%; 
  align-content: center; 
  justify-items: center; 
  font-family: "Lexend", sans-serif; 

}

.secondary-button {
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  /* background-color: #93dff2; */
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  width: 150px; 
  height: 60px; 
  white-space: normal; 
  word-wrap: break-word; 
}

.secondary-button:hover {
  background-color: #B6B5B5;
  transform: translateY(-2px);
}

.secondary-button:active {
  background-color: #B6B5B5;
}
