@font-face {
  font-family: 'lexend';
  src: url('../../assets/fonts/lexend.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff8d4;
  max-width: 100% !important; 
  width: 100% !important;
}

.content{
  background-color: #fff8d4;

}

.instructions {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'lexend';
  
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
  padding: 20px 40px;
  min-height: 70vh;
}

.image-container {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.button-grid {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffeb99;
  padding: 30px;
  border-radius: 10px;
  width: 380px;
  height: fit-content;
  margin-right: 20px;
  margin-left: 120px;
}

/* Botones principales */
.main-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 30px;
}

.main-button {
  padding: 10px 10px;
  font-size: 1rem;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
}

.main-button:hover {
  background-color: #f5f5f5;
  transform: translateY(-2px);
}

.main-button.active {
  background-color: #FFD700;
  border-color: #000;
}

/* Contenedor de botones secundarios */
.grid-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  width: 100%;
  padding: 10px;
}

.secondary-button {
  padding: 10px 15px;
  font-size: 0.9rem;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
}

.secondary-button:hover {
  background-color: #f5f5f5;
  transform: translateY(-2px);
}

.secondary-button:active {
  background-color: #cccccc;
}
