/* Importar la fuente personalizada desde la carpeta public */
@font-face {
  font-family: "ChauPhilomene";
  src: url("../../assets/fonts/chauphilomene.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../../assets/fonts/lexend.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.mode-selector-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #fff8d4;
  padding: 20px;
}

/* Contenedor de modos: más grande y más separado de la derecha */
.modes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px; /* Más separación entre modos */
  width: 50%; /* Que ocupe más espacio */
  height: 85vh; /* Un poco más grande */
  max-width: 700px; /* Más ancho */
  margin-right: 80px; /* Separarlo de la derecha */
}

.mode-card {
  background-color:  #f2c464;
  padding: 40px 30px; /* Más espacio interno */
  width: 100%;
  cursor: pointer;
  font-family: "ChauPhilomene", sans-serif;
  text-align: left;
  border-bottom: 4px solid black;
  /* border: 4px solid black;  */
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}


.mode-card h2 {
  font-size: 32px; /* Más grande */
  font-weight: bold;
  margin: 0 0 20px 0; /* Separación con la descripción */
}

.mode-card p {
  font-size: 20px; /* Más grande */
  font-family: "Lexend", sans-serif; /* Cambiamos la fuente */

  margin: 5px 0 0;
}

/* Corregimos el hover para que el texto sea siempre legible */
.mode-card:hover {
  /* background-color: rgba(65, 184, 213, 0.2);  */
  background-color: #f2c464;
  color: black; 
  transform: scale(1.03); /* Un poco más grande al pasar el ratón */
}

.avatar-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh; /* Que coincida con los modos */
}

/* Ajuste del usuario (icono de ajustes) */
.settings-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.settings-icon img {
  width: 50px;
}

/* Logo */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo img {
  height: 80px;
}
