/* Reinicio global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff8d4; /* Fondo amarillo claro */
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5dc;
    padding-bottom:50px ;
}



.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px; /* Espacio entre la imagen y el formulario */
}

.image-container {
    flex: 1; /* Toma espacio proporcional */
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-image {
    max-width: 100%; /* Imagen responsiva */
    height: auto;
    max-height: 400px; /* Ajusta el tamaño máximo */
}

.registro-container {
    flex: 1; /* Toma espacio proporcional */
    max-width: 400px;
    padding: 30px;
    text-align: center;
    background-color: #f9e59f; /* Fondo amarillo suave */
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombras */
}

.registro-form {
    width: 100%;
    min-width: 320px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: #f9e59f;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registro-title {
    font-family: "ChauPhilomene", sans-serif; 
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #000;
}

.input-field {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
}

.btn {
    width: 100%;
    padding: 16px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333;
}

.login {
    text-align: center;
    /* margin-top: 15px; */
    font-size: 16px;
}

.login a {
    color: #f4b400;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login a:hover {
    color: #d19600;
}

/* Cuadro con el mensaje "Inicia sesión" */
.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #f9e59f; /* Fondo similar al de los campos */
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 70px;
}

.google-login {
    background-color: #f4b400; /* Amarillo Google */
}

.divider {
    width: 90%;
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
    position: relative;
}

.divider-text {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9e59f;
    padding: 0 10px;
    font-size: 0.9rem;
    color: #666;
}
