<form class="registro-form" (ngSubmit)="registerUser()">
  <h2 class="registro-title">¡Únete a nosotros!</h2>
  <input
    type="email"
    placeholder="Correo electrónico"
    [(ngModel)]="user.email"
    name="email"
    class="input-field"
    required
  />
  <!-- Mensaje de error para email duplicado -->
  <div *ngIf="emailAlreadyExists" class="error-message" style="color: red; margin: 5px 0;">
    Este correo electrónico ya está registrado.
  </div>
<!-- Hint de contraseña que se mostrará al enfocar el input -->
  <div *ngIf="showPasswordHint" class="password-hint" [ngStyle]="{'color': isPasswordValid() ? 'green' : 'gray'}" style="font-size: 0.9em; margin-bottom: 5px;">
    La contraseña debe tener entre 8 y 12 caracteres, al menos una letra mayúscula, una letra minúscula, un número y un carácter especial (!&#64;#$%^&*())
  </div>

  <div class="password-container">
    <input
      [type]="passwordFieldType"
      placeholder="Contraseña"
      [(ngModel)]="user.password"
      name="password"
      class="input-field"
      required
      (focus)="showPasswordHint = true"
      (blur)="showPasswordHint = false"
    />
    <button
      type="button"
      class="toggle-password-btn"
      (click)="togglePasswordVisibility()"
    >
      <i [ngClass]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
    </button>
  </div>

  <div class="password-container">
    <input
      [type]="passwordFieldType"
      placeholder="Repetir contraseña"
      [(ngModel)]="user.repeatPassword"
      name="repeatPassword"
      class="input-field"
      required
    />
  </div>

  <!-- Mensaje de error que se mostrará solo si se intenta enviar y las contraseñas no coinciden -->
  <div *ngIf="passwordMismatch" class="error-message" style="color: red; margin: 5px 0;">
    Las contraseñas no coinciden.
  </div>

 
  <button type="submit" class="btn">Registrarse</button>
</form>

<!-- Cuadro con el mensaje y enlace de "Inicia sesión" -->

