/* registro.component.css */

/* Reinicio global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #fff8d4;
  min-height: 100vh;
}

.registro-form {
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: #f9e59f;
  border-radius: 15px;
  
}

.registro-title {
  font-family: "ChauPhilomene", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: #000;
}

.input-field {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
}

.btn {
  width: 100%;
  padding: 16px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #333;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #f9e59f;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.login {
  text-align: center;
  font-size: 16px;
}

.login a {
  color: #f4b400;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login a:hover {
  color: #d19600;
}

/* Password toggling */
.password-container {
  position: relative;
  width: 100%;
}

.password-container .input-field {
  width: 100%;
  padding-right: 40px;
}

.toggle-password-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
  outline: none;
  padding: 0;
}
