<app-header></app-header>

<div class="container">
  <div class="content">
    <div class="layout">
      <div
        class="image-container"
        id="avatar-element"
        [ngClass]="{ 'half-width': showWebcam }"
      >
        <app-canvas [animationUrls]="currentAnimationUrls"></app-canvas>
      </div>

      <!-- Contenedor del video, se muestra solo si showWebcam === true -->
      <div class="camera-container" *ngIf="showWebcam">
        <video #videoElement class="mirror-video" autoplay></video>

        <div
          *ngIf="modo === 'guiado'"
          class="current-word"
          (click)="handleWordClick()"
        >
          <p>{{ currentWord }}</p>
        </div>

        <button (click)="toggleWebcam()" class="small-disable-webcam-btn">
          Desactivar Webcam
        </button>
      </div>

      <div class="button-grid" *ngIf="!showWebcam">
        <div class="icon-menu-fixed">
          <button (click)="toggleWebcam()" class="small-webcam-btn">
            Pruébate
          </button>

          <a (click)="volverAModos()" title="Modos">
            <i class="fa-solid fa-home"></i>
          </a>

          <a (click)="navigateTo('perfil')" title="Mi Perfil">
            <i class="fa-solid fa-user"></i>
          </a>
          <a (click)="logout()" title="Cerrar Sesión">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </div>

        <!-- VISTA PARA MODO GUIADO -->
        <div class="modo-guiado" id="modo-guiado-container">
          <app-card
            [showWelcome]="showWelcome"
            [levelNumber]="nivelActual"
            [levelNumber]="nivelActual"
            (continueClicked)="continuar()"
            (startOverClicked)="empezarDesdePrimera()"
            [word]="currentWord"
            [explanation]="currentExplanation"
            (wordClick)="handleWordClick()"
            (repeatClick)="handleRepeatClick()"
            (prevClick)="prevWord()"
            [nextLabel]="isLastWord() ? 'Finalizar nivel' : 'Siguiente'"
            (nextClick)="isLastWord() ? advanceLevel() : nextWord()"
            (chooseLevelClicked)="openChooseLevel()"
            [availableLevels]="availableLevels"
            [showChooseLevel]="showChooseLevel"
            (levelSelected)="onLevelSelected($event)"
          >
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
