<app-header></app-header>

<div class="container">
  <div class="content">
    <p class="instructions">EXPLORA LIBREMENTE LOS BOTONES. CLICA Y TE MOSTRAREMOS CÓMO SE SIGNA...</p>
    <div class="layout">
      <div class="image-container">
        <app-canvas></app-canvas>      
      </div>

      <app-card
        [word]="currentWord"
        [explanation]="currentExplanation"
        (wordClick)="handleWordClick()"
        (repeatClick)="handleRepeatClick()"
        (prevClick)="prevWord()"
        (nextClick)="nextWord()"
      ></app-card>
    </div>
  </div>
</div>

<app-footer></app-footer>
