<form class="login-form" (ngSubmit)="loginUser()">
  <h2 class="registro-title">VISUAL VOICES</h2>
  <p>¡Hola de nuevo!</p>
  <input
    type="email"
    placeholder="Correo electrónico"
    [(ngModel)]="userLogin.email"
    name="email"
    class="input-field"
    required
  />
  
  <div class="password-container">
    <input
      [type]="passwordFieldType"
      placeholder="Contraseña"
      [(ngModel)]="userLogin.password"
      name="password"
      class="input-field"
      required
    />
    <button
      type="button"
      class="toggle-password-btn"
      (click)="togglePasswordVisibility()"
    >
      <i [ngClass]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
    </button>
  </div>
  
  <div class="remember-forgot">
    <div class="remember-me">
      <input
        type="checkbox"
        id="rememberMe"
        [(ngModel)]="rememberMe"
        name="rememberMe"
      />
      <label for="rememberMe">Recuérdame</label>
    </div>
    <a href="#" class="forgot-password">¿Olvidaste la contraseña?</a>
  </div>

  <button type="submit" class="btn">Entrar</button>

  <!-- <a href="#" class="forgot-password">¿Has olvidado la contraseña?</a>  -->
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

</form>

<div class="register-box">
  <p class="register">
    ¿No tienes cuenta?
    <a href="javascript:void(0);" (click)="toggleRegister.emit()">   Regístrate</a>
  </p>
</div>

<!--<div class="divider">
      <span class="divider-text">O</span>
    </div>
    <button type="button" class="btn google-login">
      Inicia sesión con Google
    </button>
  -->
