<form class="login-form" (ngSubmit)="loginUser()" *ngIf="!showForgotPassword">
  <h2 class="registro-title">¡Hola de nuevo!</h2>
  <div class="form-group" [ngClass]="{'show-error': errorField === 'email' || errorField === 'general'}">
  
  <input
      type="email"
      placeholder="Correo electrónico"
      [(ngModel)]="userLogin.email"
      name="email"
      class="input-field"
      required
    />
    <p class="error-message" [class.visible]="errorField === 'email'">
      <i class="fa-solid fa-triangle-exclamation"></i> {{ errorMessage }}
    </p>
  </div>

  <div class="form-group" [ngClass]="{'show-error': errorField === 'password' || errorField === 'general'}">
    <div class="password-container">
      <input
        [type]="passwordFieldType"
        placeholder="Contraseña"
        [(ngModel)]="userLogin.password"
        name="password"
        class="input-field"
        required
      />
      <button
        type="button"
        class="toggle-password-btn"
        (click)="togglePasswordVisibility()"
      >
        <i [ngClass]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
      </button>
    </div>
    <p class="error-message" [class.visible]="errorField === 'password'">
      <i class="fa-solid fa-triangle-exclamation"></i> {{ errorMessage }}
    </p>
    <p class="error-message" [class.visible]="errorField === 'general'">
      <i class="fa-solid fa-triangle-exclamation"></i> {{ generalErrorMessage }}
    </p>
  </div>
  
  
  <div class="remember-forgot">
    <div class="remember-me">
      <input
        type="checkbox"
        id="rememberMe"
        [(ngModel)]="rememberMe"
        name="rememberMe"
      />
      <label for="rememberMe">Recuérdame</label>
    </div>
    <a (click)="toggleForgotPassword($event)" class="forgot-password">¿Olvidaste la contraseña?</a>
  </div>

  <button type="submit" class="btn">Iniciar Sesión</button>
</form>

<!-- Forgot Password Form -->
<form class="login-form password-reset-form" (ngSubmit)="resetPassword()" *ngIf="showForgotPassword">
  <h2 class="registro-title">Recuperar Contraseña</h2>  
  <input
    type="email"
    placeholder="Correo electrónico"
    [(ngModel)]="resetEmail"
    name="resetEmail"
    class="input-field"
    required
  />
  
  <button type="submit" class="btn">Enviar Instrucciones</button>
  <button type="button" class="btn btn-secondary" (click)="toggleForgotPassword()">Volver al Inicio de Sesión</button>
  
  <p *ngIf="resetMessage" [ngClass]="resetSuccess ? 'success-message' : 'error-message'">{{ resetMessage }}</p>
</form>