<app-header></app-header>

<div class="mode-selector-container">
  <div class="icon-menu-fixed">
    <a (click)="navigateTo('perfil')" title="Mi Perfil">
      <i class="fa-solid fa-user"></i>
    </a>
    <a title="Cerrar Sesión">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>

  <div class="avatar-container">
    <app-canvas [animationUrls]="currentAnimationUrls"></app-canvas>
  </div>

  <div class="modes-container">
    <div
      class="mode-card"
      *ngFor="let mode of modes"
      (click)="navigateToMode(mode.route)"
    >
      <div class="top-border"></div>

      <div class="mode-title">
        <h2><img [src]="mode.icon" alt="Icono" />{{ mode.name }}</h2>
        <p>{{ mode.description }}</p>
      </div>

      <!-- Sección de estadísticas -->
      <div
        class="mode-stats"
        [ngClass]="{ 'center-content': isNewUserInGuidedMode }"
      >
        <ng-container [ngSwitch]="mode.id">
          <!-- 📌 Modo Guiado -->
          <ng-container *ngSwitchCase="'guiado'">
            <div *ngIf="isNewUserInGuidedMode; else guidedStats">
              <div class="stat-box empty-guide">
                <p>¡Empieza ahora y descubre nuevas palabras!</p>
                <div class="progressTwo">
                  <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    [ngClass]="animatedProgressColor"
                    [style.width.%]="animatedProgress"
                  >
                    <span class="progress-text">{{ animatedProgress }}%</span>
                  </div>
                </div>
              </div>
            </div>

            <ng-template #guidedStats>
              <div class="stat-box level-box">
                <p>Estás en el nivel</p>
                <div class="level-circle">{{ userLevel }}</div>
              </div>

              <div class="stat-box">
                <p>Progreso</p>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    [ngClass]="getProgressColor(progressPercent)"
                    [style.width.%]="progressPercent"
                  >
                    <span class="progress-text">{{ progressPercent }}%</span>
                  </div>
                </div>
              </div>

              <!-- Última palabra aprendida -->
              <div class="stat-box">
                <p>{{ lastWordLearned }}</p>
              </div>
            </ng-template>
          </ng-container>

          <!-- 📌 Modo Libre -->
          <ng-container *ngSwitchCase="'libre'">
            

            <ng-template #freeStats>
              <div class="stat-box">
                <p>
                  Has explorado {{ exploredCount }} / {{ totalWords }} palabras
                </p>
              </div>
            </ng-template>
          </ng-container>

          <!-- 📌 Modo Examen -->
          <ng-container *ngSwitchCase="'examen'">
            <div class="stat-box">
              <p>Disponible próximamente...</p>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
