<div class="canvas-container">
  <div class="canvas-wrapper">
    <canvas
      #threeCanvas
      class="webgl"
      [class.invisible]="skinRunning"
    ></canvas>

    <canvas
      #skinCanvas
      class="webgl skin-canvas"
      [class.invisible]="!skinRunning"
    ></canvas>
  </div>
  <div class="button-container">
    <button (click)="toggleSkin()" class="bottom-button">
      {{ skinRunning ? 'Detener Skin Engine' : 'Arrancar Skin Engine' }}
    </button>
    <button (click)="resetView()" class="bottom-button">
      Resetear posición
    </button>
  </div>
</div>
