.canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    max-width: 1000px;  /* Aumenta este valor para mayor anchura */
    margin-top: 10px;
}

.webgl {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 0;
    max-width: 1000px;   /* Aumenta este valor para que el canvas sea más ancho */
    max-height: 800px;
    /*pointer-events: none;*/

}

.reset-btn {
    position: absolute;
    top: 10px;   /* Ajusta según necesites */
    right: 10px; /* Ajusta según necesites */
    z-index: 9999;
  }
  
