/* header.component.css */
.header {
  position: fixed;       /* Se mantiene en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;     /* Espacio alrededor */
  background: transparent; /* O el color que prefieras */
  display: flex;
  align-items: center;
  z-index: 1000;         /* Asegura que esté por encima de otros elementos */
  border: none;  /* Asegura que no haya borde */
  box-shadow: none; /* Evita cualquier sombra */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;         /* Aumenta este valor para un logo más grande */
  height: auto;
  cursor: pointer;
}




/* @font-face {
  font-family: "ChauPhilomene";
  src: url("../../assets/fonts/chauphilomene.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../../assets/fonts/lexend.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 40px;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: none !important;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  width: 70px;
  height: auto;
  cursor: pointer;
}

.text-container {
  display: flex;
  align-items: center;
  font-family: 'ChauPhilomene', sans-serif;
  gap: 12px;
  flex-direction: row;
}

.main-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #000;
  white-space: nowrap;
} */
