.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2c464;
  }
  .cont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    height: 80px;
  }
  
  .menu-buttons {
    display: flex;
    gap: 15px;
  }
  
  .menu-buttons button {
    background: black; /* Fondo negro */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    font-size: 20px;
    font-weight: bold;
    padding: 8px 20px; /* Espaciado interno */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu-buttons button.active {
    background: #ff9800; /* Fondo naranja para el botón activo */
    color: black; /* Texto negro para el botón activo */
  }
  
  .menu-buttons button:hover {
    background: #ff9800; /* Fondo naranja al pasar el mouse */
    color: black; /* Texto negro al pasar el mouse */
  }
  
  .user-icon {
    position: relative;
    cursor: pointer;
  }
  
  .user-icon img {
    width: 50px; /* Tamaño ajustable */
    height: 50px; /* Tamaño ajustable */
    
  }
  
  .user-icon .dropdown {
    position: absolute;
    top: 50px; /* Ajusta este valor según el tamaño de la imagen */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 10;
    min-width: 200px; /* Hacer el desplegable más ancho */
  }
  
  .user-icon .dropdown a {
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .user-icon .dropdown a:hover {
    background-color: #f0f0f0;
  }
  
  .hamburger-menu {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
  .mobile-menu {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .mobile-menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
  }
  
  .mobile-menu a:hover {
    background-color: #f0f0f0;
  }
  
  .mobile-menu hr {
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .menu-buttons,
    .user-icon {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  }
  