/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
  }
  
  #modos-container {
    padding: 0.2rem 2rem; /* Márgenes internos left-right */
  }

  /* Forzar LTR en el tooltip */
  .introjs-tooltip {
    direction: ltr !important;
    text-align: left !important;
  }

  /* Asegurarte de que no te aplique left:0;right:auto */
  .introjs-skipbutton {
    position: static !important; /* o absolute, según quieras */
    left: auto !important; 
    right: auto !important; 
    margin-right: 1rem !important;
  }

  /* Si quieres mantener el layout horizontal de los botones: */
  .introjs-tooltipbuttons {
    display: flex !important;
    justify-content: space-between !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important; /* para que también no se pegue a la izquierda */
    gap: 1rem; /* margen interno entre botones */

  }


  /* (Opcional) Si quieres más espacio alrededor del texto */
  .introjs-tooltiptext {
    margin-bottom: 1rem;
  }

app-canvas
{
    display: flex;
    width: 50vw;
}
