@font-face {
  font-family: "Lexend";
  src: url("../../assets/fonts/lexend.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ChauPhilomene";
  src: url("../../assets/fonts/chauphilomene.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon-menu-fixed {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
  font-size: 30px;
  z-index: 1000;
  cursor: pointer;

}

.icon-perfil {
  z-index: 1000;
}
.logout-icon {
  z-index: 999;
}

.icon-menu-fixed a {
  color: black;
  text-decoration: none;
  transition: transform 0.2s ease;
}
.icon-menu-fixed a:hover {
  transform: scale(1.1);
}

/* Asegurar que el body y html ocupen toda la pantalla sin scroll */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* Forzar que la altura sea la de la pantalla */
  background-color: #f5f5d6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden; /* Elimina el scroll */
}

.profile-container {
  display: flex;
  justify-content: flex-start; /* Alinea a la izquierda */
  align-items: center; /* Mantiene la alineación vertical */
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f5f5d6;
  cursor: pointer;

}

.card {
  --main-color: #fff;
  --submain-color: #ccc;
  --bg-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card__img {
  height: 192px;
  width: 100%;
}

.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
  border-radius: 50%; /* Hace que sea un círculo */
}

.card__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra el área circular */
  border: 5px solid black; /* Añade un borde negro alrededor de la imagen */
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

.card__wrapper {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 15px;
}

.card__btn {
  width: 120px; /* Aumenta el tamaño del botón */
  height: 40px; /* Aumenta la altura */
  border: 2px solid var(--main-color);
  border-radius: 6px; /* Bordes más redondeados */
  font-weight: 700;
  font-size: 13px; /* Aumenta el tamaño del texto */
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

.card__btn i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
  font-size: 14px; /* Tamaño del icono */
  vertical-align: middle;
}

/* Modal - Fondo */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y semitransparente */
  justify-content: center;
  align-items: center;
  display: flex; /* Asegúrate de usar display flex para centrarlo */
  animation: fadeIn 0.3s ease-in-out;
}

/* Contenido del modal */
.modal-content {
  background-color: #f2c464; /* Color de fondo cambiado */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
  font-family: 'Chauphilomene', sans-serif; /* Estilo de la fuente */
  color: black; /* Color del texto */
}

/* Botón de cerrar (X) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

/* Para la animación de aparición */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilos para los inputs y el formulario */
.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: black;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

/* Los placeholder dentro de los inputs */
.form-group input::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Gris translúcido */
  font-weight: normal;
}

/* Al hacer focus en los inputs */
.form-group input:focus {
  border-color: #4caf50;
  background-color: #ffffff; /* Cambiar fondo cuando se hace focus */
}

/* Estilos para el botón de enviar */
.btn-submit {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #45a049;
}

/* Estilos para el mensaje de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.estadisticas-container {
  display: flex; /* Coloca las dos secciones en línea */
  justify-content: center; /* Centra en la pantalla */
  align-items: center; /* Alinea verticalmente */
  gap: 50px; /* Espacio entre los bloques */
  height: 100vh; /* Para centrar en toda la pantalla */
}


/* Estilo para estadisticas1 */
.estatisticas1 {
  margin-left: 100px;
  width: 520px; /* Aumentado el tamaño */
  height: 500px; /* Aumentado el tamaño */
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  overflow: visible;
  font-size: 2.5em; 
}

.estatisticas1 .item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5em; 
  border: 4px solid black; /* Borde negro */

}

.item:hover {
  transform: scale(1.2);
  transition: all 350ms ease-in-out;
}

.item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
}

/* .item--1 {
  background: #c7c7ff;
}

.item--2 {
  background: #ffd8be;
}

.item--3 {
  background: #a9ecbf;
}

.item--4 {
  background: #f3bbe1;
} */

.item--1, .item--2, .item--3, .item--4 {
  background: rgba(242, 196, 100, 0.8); /* Color con transparencia */
  color: black; /* Texto negro */
}

.quantity {
  font-size: 25px;
  font-weight: 600;
  font-family: "Chauphilomene", sans-serif; /* Cambia la fuente a Chau Philomene */

  
}

.text {
  /* font-size: 12px; */
  font-family: "Chauphilomene", sans-serif; /* Cambia la fuente a Chau Philomene */
  font-weight: 600;
  font-size: 0.3em; 
}

/* .text--1 {
  color: rgba(149, 149, 255, 1);
}

.text--2 {
  color: rgba(252, 161, 71, 1);
}

.text--3 {
  color: rgba(66, 193, 110, 1);
}

.text--4 {
  color: rgba(220, 91, 183, 1);
} */

/* Estilo para estadisticas2 */
.estadisticas2 {
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-direction: column;

}

.stats-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 180px; /* Aumentar el ancho de las tarjetas */
  height: 180px; /* Aumentar la altura de las tarjetas */
  border-radius: 20px;
  /* background-color: rgb(255, 255, 255); */
  padding: 15px;
  /* box-shadow: 20px 20px 60px #e6e6e6, -20px -20px 60px #f3f3f3; */
  font-size: 2.5em; /* Aumenta el tamaño del texto */
  background-color: #41b8d5; /* Color de fondo */
  border: 4px solid black; /* Borde negro */
  color: black; /* Texto blanco para contraste */
  font-family: "Chauphilomene";

}

.stats-wrapper:hover {
  transform: scale(1.2);
  transition: all 350ms ease-in-out;
}


.item, .stats-wrapper, .item svg, .item span {
  cursor: pointer;
}



.heading {
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 1px;
}

.bottom-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-wrapper .star {
  width: 30px;
  fill: gold;
}

.bottom-wrapper .tag {
  width: 27px;
  fill: rgb(141, 214, 32);
}

.bottom-wrapper .thumb {
  width: 27px;
  fill: blueviolet;
}

.bottom-wrapper p {
  font-size: 1.2em;
  font-weight: 700;
}


ngx-charts-bar-horizontal {
  margin-left: 20px; /* Ajusta el valor según lo que necesites */
  font-family: "Chauphilomene";
  font-size: 30px !important;

}

