<div class="card-container">
  <div
    class="card"
    [class.card-leaving]="isLeaving"
    (animationend)="onAnimationEnd()"
  >
    <!-- Explicación dinámica -->
    <div class="explanation">{{ explanation || 'Explicación guiada para cada botón' }}</div>

     <!-- Palabra dinámica y navegación agrupadas -->
     <div class="word-navigation-container">
      <button class="prev-button" (click)="prevCard()">
        <img src="assets/left-arrow.png" alt="Anterior" class="arrow-icon">
      </button>
      
      <div class="word-repeat-container">
        <button class="word-button" (click)="onWordButtonClick()">
          {{ word || 'Cargando...' }}
        </button>
      </div>
      
      <button class="next-button" (click)="nextCard()">
        <img src="assets/right-arrow.png" alt="Siguiente" class="arrow-icon">
      </button>
    </div>
  </div>
</div>
    
    <!-- Palabra dinámica
    <div class="word-repeat-container">
      <button class="word-button" (click)="onWordButtonClick()">
        {{ word || 'Cargando...' }}
      </button>
    </div>
    
    <div class="navigation">
      <button class="prev-button" (click)="prevCard()">
        <img src="assets/left-arrow.png" alt="Anterior" class="arrow-icon">
      </button>
      <button class="next-button" (click)="nextCard()">
        <img src="assets/right-arrow.png" alt="Siguiente" class="arrow-icon">
      </button>
    </div>
  </div>
</div> -->
