.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
  
  .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    box-shadow: none;
    animation: slide-in 0.3s ease-in-out; /* Animaci贸n de entrada por defecto */
    --cui-card-border-width: 0;
    --cui-card-border-color: transparent;
    border: none !important;
    border-width: 0 !important;
    border-color: transparent !important;
  }
  
  .card-leaving {
    animation: slide-out 0.3s ease-in-out forwards; /* Animaci贸n de salida */
  }
  
  .explanation {
    color: black;
    font-size: 25px;
    font-family: 'Lexend', sans-serif;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .word-navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .word-button {
    background-color: #41b8d5;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 12px;
    border: 2px solid black;
    font-family: 'Lexend', sans-serif;
   
     
  }
  
  .word-button:hover {
    background-color: #a1a1a1; /* Gris oscuro al pasar el rat贸n */
    transform: translateY(-2px);

  }
  
  .repeat-button {
    position: absolute; /* Posicionar fuera del bot贸n PALABRA */
    bottom: -10px; /* Fuera del borde inferior */
    right: -35px; /* Fuera del borde derecho */
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
  }

  .word-navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .prev-button,
  .next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .arrow-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-out {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  