@font-face {
  font-family: "lexend";
  src: url("../../assets/fonts/lexend.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChauPhilomene";
  src: url("../../assets/fonts/chauphilomene.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h2 {
  margin-bottom: 50px;
  font-family: "Lexend", sans-serif;
  color: black;
}

div > button.tutorial-btn {
  display: block;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  box-shadow: none;
  animation: slide-in 0.3s ease-in-out;
  --cui-card-border-width: 0;
  --cui-card-border-color: transparent;
  border: none !important;
  border-width: 0 !important;
  border-color: transparent !important;
  padding-top: 20px;
}

.tutorial-btn {
  padding: 5px 10px;
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
  width: auto;
  height: auto;
  border: 2px solid black;
  border-radius: 12px;
  background-color: #41b8d5;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
}

.tutorial-btn:hover {
  background-color: #35a0c7;
}

.card-leaving {
  animation: slide-out 0.3s ease-in-out forwards;
}

.explanation {
  color: black;
  font-size: 25px;
  font-family: "Lexend", sans-serif;
  padding: 10px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* Estilizar la palabra como un botón */
.word-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Ajusta el tamaño automáticamente */
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  background-color: #41b8d5; /* Azul llamativo */
  color: black;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 0.1em 0.1em;
  transition: all 0.2s ease-in-out;
  font-size: 7rem; /* Aumenta el tamaño */
  padding: 1.5em 3em;
}

.word-button.selected-word {
  background-color: #d3d3d3;
  color: black;
  cursor: default;
  opacity: 1;
  box-shadow: none;
  border-color: black;
}

/* .word-button-container .word-button {
  font-size: 2rem !important;
} */

.word-button:disabled {
  background-color: #41b8d5 !important;
  color: black;
}

.word-button:hover {
  transform: none !important;
  box-shadow: none !important;
}

.word-button-container .word-button {
  width: 100%;
  max-width: 200px;
  font-size: 30px; /* Aumentar solo el tamaño de la letra */
  transform: none !important;
  box-shadow: none !important;
}

.letra-boton {
  font-size: 40px !important;
}

/* .word-button:hover {
  background-color: #35a0c7;
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.2em 0.2em;
} */

/* .word-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
} */

.repeat-button {
  position: absolute;
  bottom: -10px;
  right: -35px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.navigation-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding-bottom: 30px;
}

.prev-button,
.next-button {
  background-color: transparent;
  cursor: pointer;
  margin: 0 20px;
}

.arrow-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.level-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
  padding: 20px;
}

button.learn-more {
  width: 100%;
  max-width: 200px;
  padding: 1.5em 2.5em;
  font-size: 18px;
}

button {
  background-color: #41b8d5;
  font-family: "Lexend", sans-serif;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.2em 0.2em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.learn-more:disabled {
  background-color: #d3d3d3;
  color: black;
  cursor: default;
  opacity: 1;
}

.disabled-button {
  background-color: #d3d3d3;
  color: #555;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.title-container {
  text-align: center;
  margin-bottom: 30px;
  animation: fadeIn 1s ease-in-out;
}

.game-title {
  font-family: "ChauPhilomene", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.game-subtitle {
  font-family: "Lexend", sans-serif;
  font-size: 1.2rem;
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-block;
}
